body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.25em;
}

@media (max-width: 720px) {
    .ALL {
        transform: scale(0.65);
    }
}